body {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: url(../img/backgroundlogin.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif
  }
  
    .myform {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 30px;
      transition: transform 0.3s ease-in-out;
    }
    .myform:hover {
      transform: translateY(-10px);
    }
  
  .tx-tfm {
    text-transform: uppercase;
  }
  .form-control {
    border: 1px solid #D2B48C; /* Màu nâu nhạt phù hợp với nền */
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  .mybtn {
    border-radius: 50px;
  }
  
  .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  
  .hr-or {
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
  }
  