
.link-cartegory{
    padding-top:5.3rem;
    padding-left:5px;
    font: size 20px;
}
.link-cartegory span{
    color:rgb(3, 61, 133);
}

.cartegory{
    display:flex;
    padding-top:2px;
}

.cartegory-left{
    flex:1;
    background-color: hwb(120 80% 19%);
    padding:15px;
}
.price-inputs{
    display:flex;
    padding-top: 5px;
    padding-bottom: 7px;
    width: fit-content;
}
.price-inputs input{
    width:70px;
    height:35px; 
}

.apply-button:hover{
    background-color:rgb(211, 141, 10);
}
.filter-price button{
    width: 100%;
    background-color: orange;
    color: white;
    border:none;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
}

.filter-brand li{
    padding-top:10px;
}

.filter-brand {
    padding-top: 10px;
}










.cartegory-right{
    padding-left:10px;
    padding-right:50px ;

    
}

.products{
    padding-top:10px;
    display:flex;
    gap: 8px;
    justify-content:space-between;
    flex-wrap: wrap;
   
}

.product-filters{
    display:flex;
    justify-content:space-between;
    background-color:hwb(120 80% 19%); 
    padding:15px;
    border-radius: 20px;
    
}
.product-item{
    flex: 1 1 calc(25% - 20px); /* Mỗi item chiếm 20% chiều rộng, trừ đi khoảng cách */
  max-width: calc(25% - 5px); /* Giới hạn chiều rộng tối đa của mỗi item */
  min-width: 150px; /* Chiều rộng tối thiểu của mỗi item */
  margin: 10px 0; /* Khoảng cách trên và dưới mỗi item */
  padding: 20px; /* Khoảng cách bên trong mỗi item */
  box-sizing: border-box; /* Bao gồm padding và viền trong tính toán kích thước */

    
}
.product-item:hover {
    border: 1px solid #ccc; 
    
}

.product-item img{
    max-width: 100%;
    height: auto;
}



